/* __________index____________ */
.carousel {
  margin-top: 5%;
  width: 100%;
  overflow: hidden; }

.carousel img {
  width: 100%;
  height: 450px;
  overflow: hidden; }

.carousel h5 {
  overflow: hidden; }

.carousel-caption, .carousel-control-next-icon, .carousel-control-prev-icon {
  background-color: #f7e8d0d0; }

.pag1 h4 {
  text-align: center;
  margin-top: 2%; }

.pag1 p {
  padding: 0% 10%; }

.flex div {
  width: 60%;
  padding: 2% 2%;
  text-align: center;
  border: 1px solid #5f5fc9;
  border-radius: 25px;
  margin: 5%; }

.flex div img {
  width: 50%;
  margin: 2%;
  border-radius: 15px; }

@media only screen and (max-width: 720px) {
  .flex {
    display: block !important; }
  .flex div {
    width: 90%;
    padding: 2% 0%;
    text-align: center; }
  .flex div img {
    width: 50%; }
  .carousel img {
    height: 300px; } }

/* _____________________________________________ */
/* FOOTER  */
footer {
  font-size: 20px;
  width: 100%;
  border-top: 2px solid grey; }

.infoRedes {
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;
  align-items: center; }

/* .menuRedes {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
  } */
.logoRedes {
  margin: 1rem; }

footer img {
  width: 3rem;
  height: 3rem; }

.copyright {
  font-size: 16px; }

@media only screen and (max-width: 720px) {
  footer img {
    width: 2rem;
    height: 2rem; } }

.signos {
  margin-top: 8%;
  text-align: center;
  margin-bottom: 5%; }

.signos h2 {
  margin: 0%; }

.signos p {
  padding: 2%; }

.signos div section div {
  margin: 2%;
  border: 3px solid #5f5fc9;
  border-radius: 25px;
  height: 300px; }

.signos div section div h3 {
  color: #5f5fc9;
  font-size: 30px;
  text-decoration: underline; }

.signos div section div h6 {
  margin-top: 5%;
  color: #5f5fc9; }

.signos div section div p {
  padding: 1%; }

@media only screen and (max-width: 720px) {
  .signos {
    margin-top: 30%; } }

/* ________________________SHOP__________________________ */
.caja {
  margin-top: 10% !important; }

.caja h4 {
  font-size: 40px;
  text-align: center;
  margin-bottom: 2%; }

.caja section {
  margin-bottom: 5%; }

.caja section div {
  border: 3px solid #5f5fc9;
  height: 100%;
  padding: 5%;
  border-radius: 15px; }

.caja img {
  width: 200px;
  height: 200px;
  margin: 0% 5%;
  padding: 5%;
  border-color: black; }

.caja p {
  font-size: 15px; }

.caja section div div {
  border: none;
  height: auto;
  text-align: center; }

.caja section h3 {
  font-size: 16px; }

.caja button {
  margin: 0% 25%;
  border-radius: 10px;
  height: 35px;
  width: 50%; }

.sumarRestar {
  display: flex;
  padding: 0% !important;
  justify-content: center; }

.sumarRestar button {
  width: 35px;
  height: 35px;
  margin: 0% !important;
  border-radius: 5px; }

.sumarRestar p {
  text-align: center;
  width: 35px;
  height: 35px;
  border: solid 3px #5f5fc9;
  margin: 0% 2% 4% 2%; }

.caja button:hover {
  background-color: #5f5fc9;
  color: white; }

@media only screen and (max-width: 720px) {
  .caja {
    margin-top: 30% !important; }
  .caja img {
    margin: 0% 25%; } }

/* ____Contacto_____ */
.contact {
  display: flex;
  margin-top: 0%;
  margin-bottom: 5%; }

.contact section {
  width: 50%;
  padding: 0% 5%;
  margin-top: 10%; }

.contact form {
  width: 100%;
  padding: 0% 5%; }

.contact form div {
  margin: 2% 0%; }

.contact form div div {
  margin: 0%; }

.contact form label {
  font-size: 18px; }

.contact input {
  width: 80%;
  height: 30px;
  margin-top: 5px;
  border-radius: 5px;
  border-color: #5f5fc9; }

.textarea {
  width: 80%;
  height: 100px !important; }

.contact section p {
  margin-top: 5%;
  padding: 0% 10%; }

.botones {
  display: flex;
  width: 80%;
  justify-content: space-around; }

.contact button {
  width: 100px;
  height: 40px;
  margin-top: 2%;
  border-radius: 5px;
  border-color: #5f5fc9; }

.contact button:hover {
  background-color: #5f5fc9;
  color: white; }

.wpp {
  display: flex;
  justify-items: center;
  margin-left: 10%; }

.wpp img {
  width: 40px;
  height: 40px;
  margin: 0% 1%; }

.wpp p {
  padding: 0% !important;
  margin-top: 5px !important; }

@media only screen and (max-width: 720px) {
  .contact {
    display: block;
    margin-top: 30%; }
  .contact section {
    width: 100%; } }

.carrito {
  margin-top: 10%;
  margin-bottom: 10%; }

.carrito img {
  width: 80px;
  height: 80px; }

.carrito h5 {
  text-align: center;
  font-size: 30px;
  margin-bottom: 5%; }

.carrito tr td, .carrito th {
  border: solid 1px #5f5fc9;
  text-align: center;
  margin: 5%; }

.carrito tr td div {
  display: flex;
  justify-content: center; }

.carrito tr td div button {
  width: 25px;
  height: 25px; }

.carrito tr td div p {
  text-align: center;
  width: 25px;
  height: 25px;
  border: solid 1px #5f5fc9; }

.basurero {
  border: none;
  background-color: transparent; }

.basurero img {
  width: 50px;
  height: 50px; }

.formCompra {
  display: flex;
  justify-content: space-around; }

.formCompra button {
  margin-top: 50px;
  width: 150px;
  height: 50px;
  border-radius: 15px; }

.formCompra button:hover {
  background-color: #5f5fc9;
  color: white; }

@media only screen and (max-width: 720px) {
  .carrito {
    margin-top: 30%; }
  .basurero img {
    width: 40px;
    height: 40px;
    padding: 15%; }
  .carrito img {
    width: 50px;
    height: 50px; }
  .carrito td {
    font-size: 12px !important; }
  .carrito tr td div {
    padding: 5%; }
  .formCompra button {
    width: 120px;
    height: 40px;
    font-size: 13px; } }

.navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-image: url("../img/cabeza.jpg");
  background-repeat: no-repeat;
  background-size: cover; }

.navbar-toggler {
  border: 1px solid black; }

.navbar-nav li {
  margin-right: 25px; }

.navbar-nav li a {
  color: black;
  font-size: 15px;
  border-right: black 2px solid; }

.navbar-nav li a:hover {
  color: grey;
  border-right: grey 2px solid; }

.menuNav {
  font-size: 1.3rem; }

.actived {
  color: #5f5fc9 !important;
  border-right: #5f5fc9 2px solid !important; }

@media only screen and (max-width: 720px) {
  .navbar-toggler {
    border: 2px solid black !important;
    border-radius: 5px !important; }
  .navbar-toggler-icon img {
    margin: 0% !important; }
  .nav-link {
    padding-right: 15px !important; } }

footer img:hover {
  animation-name: animacion;
  animation-iteration-count: infinite;
  animation-duration: 0.5s;
  animation-timing-function: ease-in;
  animation-delay: 0ms; }

@keyframes animacion {
  33% {
    transform: rotate(15deg); }
  66% {
    transform: rotate(-15deg); } }

.caja img:hover {
  animation-duration: 1s;
  animation-name: agrandar;
  animation-fill-mode: forwards;
  animation-direction: alternate; }

@keyframes agrandar {
  100% {
    transform: scale(1.1); } }

/* Reset */
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box; }

a {
  text-decoration-line: none; }

ol, ul {
  list-style: none; }

.flex {
  display: flex; }

/* ____________________________________________ */
/* HEADER */
header {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  left: 0;
  top: 0;
  margin-bottom: 20%;
  z-index: 1000000000000000; }

header a {
  text-decoration: none; }

ul {
  display: flex;
  justify-content: space-between; }

a {
  font-family: 'Nunito', sans-serif;
  color: black; }

.navItem {
  border-top-style: double;
  border-bottom-style: double;
  font-family: 'Nunito', sans-serif;
  color: burlywood; }

.navItem :hover {
  font-size: 1.5rem;
  font-weight: 600; }

/* .titulo{
    
  } */
/* Logo */
.divLogo {
  padding: 0%;
  width: 100%; }

header h1 {
  font-size: 14px;
  font-family: 'Nunito', sans-serif;
  color: black;
  overflow: hidden;
  font-weight: 600; }

.navbar img {
  width: 30px;
  margin: 0% 35%; }

/* _______________________________________________ */
/* Body */
/* ________________________PIEDRAS__________________________ */
.imagenesP {
  width: 15rem;
  height: 15rem; }

/* _____Piedras y Signos_____ */
