.signos{
    margin-top: 8%;
    text-align: center;
    margin-bottom: 5%;
}
.signos h2{
    margin: 0%;
}
.signos p{
    padding: 2%;
}

.signos div section div{
    margin:2%;
    border: 3px solid #5f5fc9;
    border-radius: 25px;
    height: 300px;
}
.signos div section div h3{
    color: #5f5fc9;
    font-size: 30px;
    text-decoration: underline;
}
.signos div section div h6{
    margin-top: 5%; 
    color: #5f5fc9;
}

.signos div section div p{
    padding: 1%;

}

@media only screen and (max-width:720px)
{
    .signos{
        margin-top: 30%;
      
    }
   
}   