/* ________________________SHOP__________________________ */
  
  
  
  .caja{
    margin-top: 10% !important;   
  }
  .caja h4{
    font-size: 40px; 
    text-align: center; 
    margin-bottom: 2% ;   

  }
  .caja section {
    margin-bottom: 5%;   

  }
  .caja section div{
    border: 3px solid #5f5fc9;
    height: 100%;
    padding: 5%;
    border-radius: 15px;
  }
  .caja img{
    width: 200px;
    height: 200px;
    margin: 0% 5%;
    padding: 5%;
    border-color: black;
  }
  .caja p{
    font-size: 15px; 
  }
  .caja section div div{
    border: none;
    height: auto;
    text-align: center;
  }
  .caja section h3{
    font-size: 16px;    
   }
  .caja button{
    margin: 0% 25%;
    border-radius: 10px;
    height: 35px;
    width: 50%;
  }

.sumarRestar {
  display: flex;
  padding: 0% !important;
  justify-content: center;
  
}
.sumarRestar button{
    width: 35px;
    height: 35px;
    margin: 0% !important;
    border-radius: 5px;

}
.sumarRestar p{
    text-align: center;
    width: 35px;
    height: 35px;
    border: solid 3px #5f5fc9;
    margin: 0% 2% 4% 2%;
}
.caja button:hover{
  background-color: #5f5fc9;
  color: white;
}
  

@media only screen and (max-width:720px)
{
  .caja{
    margin-top: 30% !important;   
  }
  .caja img{
    margin: 0% 25%;
  }
}   